.ColorBox {
  width: 20%;
  height: 25%;
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: -4.5px;
}

.SingleColorPalette .ColorBox {
  height: 50%;
}

.Palette__goBack {
  background-color: #e9edf0;
}

.ColorBox__copyButton {
  cursor: pointer;
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  text-align: center;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  line-height: 30px;
  text-transform: uppercase;
  border: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.ColorBox__backButton {
  text-decoration: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  text-align: center;
  outline: none;
  background: white;
  font-size: 1rem;
  line-height: 30px;
  color: rgb(218, 65, 129);
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.ColorBox:hover .ColorBox__copyButton {
  opacity: 1;
}

.ColorBox__colorName {
  position: absolute;
  padding: 10px;
  left: 0px;
  bottom: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}

.ColorBox__more {
  margin: 0;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  border: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  text-transform: uppercase;
}

.ColorBox__overlay {
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;

  /* transform: scale(0.1); */
}

.ColorBox__overlay.show {
  opacity: 1;
  transform: scale(50);
  z-index: 10;
  position: absolute;
}

.ColorBox__overlayMessage {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.4s ease-in-out;
  transition-delay: 0.05s;
}

.ColorBox__overlayMessage.show {
  opacity: 1;
  transform: scale(1);
  z-index: 25;
}

.ColorBox__overlayMessage h1 {
  font-weight: 400;
  text-shadow: 1px 2px black;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding: 1rem;
}

.ColorBox__overlayMessage p {
  font-size: 2rem;
  font-weight: 100;
}

/* until xs sizes */
@media (max-width: 575.98px) {
  .ColorBox {
    width: 100%;
    height: 5%;
  }
  .SingleColorPalette .ColorBox {
    width: 100%;
    height: 10%;
  }
  .ColorBox__overlayMessage h1 {
    font-size: 4rem;
  }
  .ColorBox__overlayMessage p {
    font-size: 2rem;
  }
  .ColorBox__more {
    height: 100%;
  }
}

/* from xs to md */
@media (min-width: 575.98px) and (max-width: 991.98px) {
  .ColorBox {
    width: 50%;
    height: 10%;
  }
  .SingleColorPalette .ColorBox {
    width: 50%;
    height: 20%;
  }
}

/* from md to lg */
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .ColorBox {
    width: 25%;
    height: 20%;
  }
  .SingleColorPalette .ColorBox {
    width: 25%;
    height: 33.33%;
  }
}
