.CreateColorBox {
  width: 20%;
  height: 25%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: -5px;
}

.CreateColorBox__colorName {
  position: absolute;
  padding: 10px;
  left: 0px;
  bottom: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}

.CreateColorBox__delete {
  margin: 0;
  padding: 10px;
  position: absolute;
  border: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 2px;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.CreateColorBox:hover .CreateColorBox__delete {
  color: white;
  transform: scale(1.3);
}
