.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
}

.Navbar__logo {
  margin-right: 15px;
  padding: 0 13px;
  font-size: 22px;
  background-color: #e9edf0;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 2px solid rgb(218, 65, 129);
}

.Navbar__logo a {
  text-decoration: none;
  color: rgb(218, 65, 129);
  font-weight: 500;
}

.Navbar__slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus {
  background-color: green;
  outline: 0;
  border: 2px solid green;
  box-shadow: none;
  width: 15px;
  height: 15px;
  margin-left: -7px;
  margin-top: -3px;
}

.Navbar__selectContainer {
  margin-left: auto;
  margin-right: 1rem;
}
